/*
	Projeto: conciliation-webapp
	Author/Empresa: Rede
	Copyright (C) 2016 Redecard S.A.
 */

.pv {
	background: #f8f8f8;
	padding: 1.1em 1.5em;
	position: relative;

	p {
		color: $grafitteGray;
    	font-size: 1.3em;
		margin: 0.1em 0;
	}

	p + p {
		font-size: 1.2em;
	}

	.action {
		position: absolute;
		right: 0.6em;
		font-size: 2.6em;
		top: 0.5em;
		color: $defaultOrange;

		&:hover {
			text-decoration: none;
		}
	}

	&.selected {
		background: $defaultOrange;
		p, .action {
			color: #fff;
		}
	}
}

.pv-group {
	background: #f8f8f8;
	padding: 1em 1.6em;
	margin-bottom: 0.8em;

	-webkit-transition: all .15s ease-out;
	transition: all .15s ease-out;

	h4 {
		font-family: "open_sanslight";
	    font-size: 2em;
		color: #00b9b6;
		padding-left: 1.6em;
    	position: relative;
		margin-bottom: 0.8em;
		word-wrap: break-word;

		&:before {
			color: #00b9b6;
			position: absolute;
			left: 0;
			top: 0.1em;
		}
	}

	p {
		color: $grafitteGray;
		font-size: 1.3em;

		strong {
			font-size: .9em;
		}
	}

	a {
		color: $defaultOrange;
    	font-size: 1.2em;
		margin-top: 1em;
		display: block;

		strong {
			font-size: .9em;
		}
	}

	.group-pvs-wrapper {
		height: 7em;
		overflow: hidden;
	}

	&.expanded {
		.group-pvs-wrapper {
			height: auto;
		}
	}

	&.selected {
		transform: scale(0.95);
		box-shadow: 0 0 9px 0 rgba(0,0,0,0.3);
	}
}
