/*
 Projeto: conciliation
 Author/Empresa: Rede
 Copyright (C) 2016 Redecard S.A.
 */

.rc-select {
	position: relative;
	width: 100%;

	.dropdown-toggle {
		border: 1px solid $rcSelectBorderColor;
		color: $rcSelectLabelColor;
		font-size: 1em;
		padding: 0.6em 0 0.6em 1.1em;
		position: relative;
		text-align: left;

		&:hover, &:active, &:focus {
			background: $rcSelectStatesGrouping;
			border-color: $rcSelectBorderColor;
			box-shadow: none;
		}

		&:after {
			font-size: 2em;
			position: absolute;
			right: 0.4em;
			top: 0.2em;
			color: $platinum;
			content: '\e9cc';
			display: block;
			font-family: $fontItau;
		}
	}

	.list-group-pvs {
		display: none;
	}

	.list-group-pvs.show-list {
		display: block;
	}

	.list-group-pvs {
		position: absolute;
		z-index: 10;
		border: 1px solid $rcSelectBorderColor;
		top: 5.88em;

		ul {
			background: #fff;
			border-bottom: 0;
			border-radius: 0;
			box-shadow: none;
			box-sizing: border-box;
			max-height: 150px;
			overflow: auto !important;
			height: auto;
			min-height: 100px;
			max-height: 361px;
			z-index: 1;
			width: 100%;
			margin: 0;
    		padding: 0;

			&.header {
				padding: 0.5em 0 1em;
				max-height: 100%;

				.selectAll span, .deselectAll span {
					&::before, &::after {
						color: $rcSelectIconColor;
						border-radius: 4px;
					}
				}

				.selectAll {
					span {
						background-color: inherit;

						&::before {
							content: '\e927' !important;
						}
					}
				}

				.deselectAll {
					span {
						background-color: inherit;

						&::before {
							content: '\e956' !important;
						}
					}
				}
			}

			li {
				list-style: none;

				a {
					cursor: pointer;
					color: $rcSelectLabelColor;
					display: block;
					position: relative;
					text-transform: none;
					line-height: 1.42857143;
					padding: 0.7em 0 0.7em 3.5em;
					text-decoration: none;
					font-size: 1.164em;

					span {
						display: block;
						width: 20px;
						height: 20px;
						background-color: rgba(240, 240, 240, 1);
						border-radius: 4px;
						font-family: "itaufonts_master_24px_v1";
						font-size: 1.4em;
						line-height: 18px !important;
						position: absolute;
						top: 11px;
						left: 10px;

						&::before {
							color: $rcSelectBackgroundNotChecked;
							content: '\e964';
							font-size: 1.2em;
							top: 0px;
							position: relative;
							left: -6px;
							padding: 3px;
						}
					}

					.glyphicon-ok {
						&::before {
							background-color: $rcSelectIconColor;
							color: $rcSelectBackgroundChecked;
							content: '\e927' !important;
							border-radius: 4px;
							font-size: 0.82em;
							position: relative;
							top: -1px;
							left: -2px;
							padding: 2px;
						}
					}

					&:hover {
						text-decoration: none;
    					background-color: #f5f5f5;
					}
				}
			}

			.divider {
				background-color: $rcSelectDividerGrouping;
				height: 1px;
				padding: 0;
				margin-top: 8px;
			}
		}
	}

	.rc-select-footer {
		background:#fff;
		text-align: right;
		box-shadow: 0em -0.3em 0.9em 0em rgba(0, 0, 0, 0.1);
		padding: 10px 14px;
		position: relative;

		a {
			color: $rcSelectIconColor;
			text-decoration: none;
			padding-right: 2.5em;
			font-size: 1.2em;

			&:after {
				font-family: $fontItau;
				content: '\e997';
				font-size: 1.8em;
				position: absolute;
				right: 0.7em;
				top: 0.3em;
			}
		}
	}
}
