/*
	Projeto: conciliation-webapp
	Author/Empresa: Rede
	Copyright (C) 2016 Redecard S.A.
 */

.rc-tooltip-wrapper {
  display: inline;
  position: relative;
}

.rc-tooltip {
	display: inline !important;
  &:before {
    font-family: $fontItau;
    content: "\e960";
    color: $rcMultiLabelColor;

  }
}

.tooltip {

  font-family: $fontLight;
  font-size: 0.9em;

  &.top-left {

    top: initial !important;
    bottom: 31px !important;
    left: -23px !important;

    .tooltip-arrow {

      bottom: 7px !important;
      left: 18px !important;

      &:before {
        content: "\e252";
        text-shadow: 0 3px rgba(183, 179, 179, 0.14);
      }

    }

  }

  &.bottom-left {

    left: -14px !important;
    top: 25px !important;

    .tooltip-arrow {

      left: 10px !important;
      top: -20px !important;

      &:before {
        content: "\e253";
        text-shadow: 0 -3px rgba(183, 179, 179, 0.14);
      }

    }

  }

  .tooltip-inner {

    @include border-radius(0,0,0,0);
    background: $lightGray;
    box-shadow: 0 0 6px 0 rgba(183, 179, 179, 0.36);
    color: $grafitteGray;
  	font-size: 12.6px;
    font-weight: bolder;
    line-height: 1.5em;
    padding: .9em .8em;
    text-align: left;
    text-transform: lowercase;
    width: 264px;

  }

  .tooltip-arrow {

    border-color: transparent !important;
    border-width: 13px 7px  !important;
    color: $lightGray;
    font-family: $fontBootstrap;
    font-size: 20px;

  }

  &.in {
    opacity: 1;
  }

}
