/*
	Projeto: conciliation-webapp
	Author/Empresa: Rede
	Copyright (C) 2016 Redecard S.A.
 */

#pv-grouping-page {
	#pv-list {
		.input-group-addon {
			color: $defaultOrange !important;
		}

		.pv {
			&.ng-leave {
				-webkit-animation: .3s pv-delete-from-list ease-in-out;
				animation: .3s pv-delete-from-list ease-in-out;
			}

			&.ng-enter {
				-webkit-animation: .3s pv-add ease-in-out;
				animation: .3s pv-add ease-in-out;
			}
		}

		.empty-state {
			&:before {
				content: '\e94f';
			}
		}
	}

	.pv-group {
		&.flick {
			-webkit-animation: .3s pv-group-validation-flick ease-out;
			animation: .3s pv-group-validation-flick ease-out;
		}
	}

	#pv-group-edit {
		.input-group-lg {
			input {
				font-family: "open_sanslight";
			    font-size: 2em;
			    padding-left: 0;
				color: #00b9b6;

				::placeholder,
				::-webkit-input-placeholder,
				::-moz-placeholder, {
					color: $platinum;
				}
			}

			.input-group-addon {

				&:before {
					font-size: 1.4em;
					color: $platinum;
				}

				&.has-error:before {
					color: #00b9b6;
				}
			}
		}

		.pv {
			&.ng-leave {
				-webkit-animation: .3s pv-delete-from-workspace ease-in-out;
				animation: .3s pv-delete-from-workspace ease-in-out;
			}

			&.ng-enter {
				-webkit-animation: .3s pv-add ease-in-out;
				animation: .3s pv-add ease-in-out;
			}
		}

		.empty-state {
			&:before {
				content: '\e958';
			}
		}

		.validate-list {
			list-style: none;
			padding-left: 1.4em;
			margin-bottom: 1.3em;
			position: relative;

			&.flick {
	            -webkit-animation: .3s pv-group-validation-flick ease-out;
	            animation: .3s pv-group-validation-flick ease-out;
	        }

			li {
				font-size: 1.2em;
				color: #00b9b6;
				margin-bottom: 0.3em;
				transition: .3s linear all;

				&.ng-hide {
					opacity: 0;
				}
			}
		}

		&.not-valid {
			#edit-container {
				height: 21.2em;
			}
		}

		.form-group {
			margin-bottom: 0.6em;
		}
	}

	#pv-list,
	#pv-group-edit,
	#pv-groups {
		height: 37.3em;
	}

	#pv-groups {
		.empty-state {
			&:before {
				content: '\e94f';
			}
		}

		.icon_maq_rede_cartao:before {
			color: #00b9b6;
		}
	}

	#edit-wrapper {
		height: 28.1em;
	}

	#edit-container {
		margin-bottom: 1em;
		height: 26.6em;
		position: relative;
	}

	#groups-container {
		height: 35em;
		position: relative;
	}

	#pvs-container {
		height: 31em;
		position: relative
	}

	#edit-container,
	#groups-container,
	#pvs-container {
		&.has-scroll {
			padding-right: 1.6em;

			.ps-scrollbar-y-rail,
			.ps-scrollbar-y {
				opacity: 1 !important;
				display: block !important;
			}

			.ps-container:hover .ps-scrollbar-y-rail {
				background: #f8f8f8 !important;
			}
		}
	}

	.empty-state {
		position: absolute;
		top: 50%;
		width: 24em;
		font-size: 1em;
		color: $grafitteGray;
		padding-left: 4.5em;
		margin-top: -1em;
		opacity: 1;
		transition: .3s linear all;

		.title {
			color: #00b9b6;
			font-family: $fontSemiBold;
			margin-bottom: 0.2em;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0.4em;
			font-size: 2.2em;
			font-family: 'itaufonts_master_24px_v1';
			color: #00b9b6;
			top: 0;
		}

		&.ng-hide {
			opacity: 0;
		}
	}

	.pv {
		margin-bottom: 0.8em;
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.btn {
		&.disabled {
			cursor: pointer;
			pointer-events: initial;
		}
	}
}

@keyframes pv-delete-from-list {
    from {
		overflow: hidden;
        opacity: 1;
		height: 5.9em;
		right: 0;
    }
    to {
        opacity: 0;
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
		right: -20em;
    }
}

@keyframes pv-delete-from-workspace {
    from {
		overflow: hidden;
        opacity: 1;
		height: 5.9em;
		left: 0;
    }
    to {
        opacity: 0;
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
		left: -20em;
    }
}

@keyframes pv-add {
    from {
        opacity: 0;
        overflow: hidden;
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
    }
    to {
        opacity: 1;
		height: 5.9em;
    }
}

@keyframes pv-group-validation-flick {
    0% {
		transform: translateX(-.3em);
    }
    50% {
		transform: translateX(.7em);
    }
    85% {
		transform: translateX(-.7em);
    }
    100% {
		transform: translateX(0);
    }
}
