<section id="dashboard">

	<div class="date">
		<h2>
			<time>{{currentPeriodStartDateMonth}} {{currentPeriodStartDateYear}}</time>
		</h2>
	</div>

  	<br />
	 <div uib-alert ng-repeat="alert in alerts" ng-class="{{alert.type}}">{{alert.msg}}</div>
  <ul id="valuesTour">
      <li id="ticket-transactions">
        <em>Transações</em>
      	<b ng-bind="transactionSummaryBoxCurrentMonth.quantity ? transactionSummaryBoxCurrentMonth.quantity : 0"></b>
      	<div class="valuesFooter" ng-class="{'negative': percentOfQuantityTransactionsBetweenMonths <= 0,
       			 'positive': percentOfQuantityTransactionsBetweenMonths > 0}">
            <div class="prev-time">
            <strong>
                <span>período anterior:</span>
                <time>{{prevPeriodStartDateDay}} a {{prevPeriodEndDateDay}} {{prevPeriodStartDateMonth}}
              {{prevPeriodStartDateYear}}</time>
            </strong>
            </div>
            <div class="values">
              <strong>
                {{transactionSummaryBoxPrevMonth.quantity}}
              </strong>
              <p><span ng-bind="percentOfQuantityTransactionsBetweenMonths ? (percentOfQuantityTransactionsBetweenMonths | number:1) : '0,0'"></span>%</p>
            </div>
      	</div>
      </li>
      <li class="vendasDashboard" id="ticket-sales">
        <em>Vendas</em>
      	<b><i ng-bind-html="currencySymbol"></i> {{(transactionSummaryBoxCurrentMonth.amount || 0) | currency:''}}</b>

      	<div class="valuesFooter" ng-class="{'negative': percentOfTotalsAmountTransactionsBetweenMonths <= 0,
       					'positive': percentOfTotalsAmountTransactionsBetweenMonths > 0}">
            <div class="prev-time">
              <strong>
                <span>período anterior:</span>
                <time>{{prevPeriodStartDateDay}} a {{prevPeriodEndDateDay}} {{prevPeriodStartDateMonth}}
              {{prevPeriodStartDateYear}}</time>
              </strong>
            </div>
            <div class="values">
            <strong>
              <i ng-bind-html="currencySymbol"></i> <span ng-bind="transactionSummaryBoxPrevMonth.amount ? (transactionSummaryBoxPrevMonth.amount | currency:'') : '0,00'"></span>
            </strong>
            <p><span ng-bind="percentOfTotalsAmountTransactionsBetweenMonths ? (percentOfTotalsAmountTransactionsBetweenMonths | number:1) : '0,0'"></span>%</p>
            </div>
       	</div>
      </li>
      <li class="recebimentoDashboard" id="ticket-receipts">
        <em>Recebimentos</em>
      	<b><i ng-bind-html='currencySymbol'></i> {{(movementSummaryBoxCurrentMonth.payedAmount || 0) | currency:""}}</b>
      	<div class="valuesFooter" ng-class="{'negative': percentOfTotalPayedBetweenMonths<= 0,
       					'positive': percentOfTotalPayedBetweenMonths > 0}">
			      <div class="prev-time">
              <strong>
                <span>período anterior:</span>
                <time>{{prevPeriodStartDateDay}} a {{prevPeriodEndDateDayMovement}} {{prevPeriodStartDateMonth}}
              {{prevPeriodStartDateYear}}</time>
              </strong>
            </div>
            <div class="values">
            <strong>
            <i ng-bind-html="currencySymbol"></i> <span ng-bind="movementionSummaryBoxPrevMonth.payedAmount ? (movementionSummaryBoxPrevMonth.payedAmount | currency:'') : '0,00'"></span></strong>
            <p><span ng-bind="percentOfTotalPayedBetweenMonths ? (percentOfTotalPayedBetweenMonths | number:1) : '0,0'"></span>%</p>
            </strong>
            </div>
       	</div>
      </li>
      <li class="ticketDashboard" id="ticket-average">
        <em>Ticket Médio</em>
      	<b><i ng-bind-html="currencySymbol"></i> <span ng-bind="ticketAverageCurrentMonth ? (ticketAverageCurrentMonth | currency:'') : '0,00'"></span></b>

      	<div class="valuesFooter" ng-class="{'negative': percentOfTicketAverageBetweenMonths <= 0, 'positive': percentOfTicketAverageBetweenMonths > 0}">
            <div class="prev-time">
              <strong>
                <span>período anterior:</span>
                <time>{{prevPeriodStartDateDay}} a {{prevPeriodEndDateDay}} {{prevPeriodStartDateMonth}}
              {{prevPeriodStartDateYear}}</time>
              </strong>
            </div>
            <div class="values">
            <strong>
              <i ng-bind-html="currencySymbol"></i> {{ticketAveragePrevMonth | currency:""}}</strong>
			        <p><span ng-bind="percentOfTicketAverageBetweenMonths ? (percentOfTicketAverageBetweenMonths | number:1) : '0,0'"></span>%</p>
            </strong>
            </div>
       	</div>
      </li>
    </ul>
    <div>
        <main>
          <article>
            <h2>Vendas</h2>
            <!--<highchart config="chartVendas" id="graficoVendasTour"></highchart>-->
            <canvas id="line" class="chart chart-line chartVendas" chart-data="chartjs.data"
                chart-labels="chartjs.labels" chart-legend="true" chart-series="chartjs.series"
                chart-options="chartOptions">
            </canvas>
          </article>
        <br />
        <!--
        <article>
          <h2>Cancelamentos e Chargebacks</h2>
          <div id="cancelamentos">
            <highchart class="chart" config="charTiposVendas"></highchart>
          </div>
          <dl>
            <dt>Cancelamentos</dt>
            <dd><i ng-bind-html='currencySymbol'></i> {{cancellationValues.totalAmountCancellations | currency:""}}</dd>
            <dt>Chargebacks</dt>
            <dd><i ng-bind-html='currencySymbol'></i> {{cancellationValues.totalAmountChargeback | currency:""}}</dd>
          </dl>
          <br />
        </article>
        -->
      </main>
      <aside>
        <h2>conciliação de vendas</h2>
        <table class="chargebacks" cellpadding="0" cellspacing="0" id="calendarioTour">
          <thead>
            <tr class="calendarMonth">
              <td colspan="7">{{calendarMonth}}</td>
            </tr>
            <tr class="weekCalendar">
              <th class="weekend">Seg</th>
              <th>Ter</th>
              <th>Qua</th>
              <th>Qui</th>
              <th>Sex</th>
              <th>Sab</th>
			  <th class="weekend">Dom</th>
            </tr>
          </thead>
          <tbody class="dates">
            <tr ng-repeat="week in weeks">
              <td ng-repeat="day in week" ng-click="sales(day.date, day.concilied, day.toReconcile, day.toProcess)"
              	ng-class="{'naoConciliado': day.toProcess, 'divergencias': day.toReconcile,
              			   'conciliado': day.concilied && !day.toReconcile && !day.toProcess, 'weekend': day.weekend }" class="oneItem">
                        {{ day.date }} 
                </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7">
              <table cellpadding="0" cellspacing="0" class="calendarTotals">
                  <thead>
                    <tr class="legendTableHead">
                      <th colspan="3">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="aConciliar">
                        <h3>Vendas a conciliar</h3>
                        <em>{{transactionConciliationBox.transctionToConcilieQuantity}}</em>
                      </td>
                      <td class="conciliados">
                      	<h3>Vendas conciliadas</h3>
                        <em>{{transactionConciliationBox.transctionConciliedQuantity}}</em>
                      </td>
                      <td class="naoConciliado">
                        <h3>Vendas não processadas</h3>
                        <em>{{transactionConciliationBox.transctionUnprocessedQuantity}}</em>
                      </td>
                    </tr>
                  </tbody>
                </table>
               </td>
            </tr>
          </tfoot>
        </table>
      </aside>
  </div>
	<br />
</section>
