<section class="financas" id="financeiro">
    <div id="receipts">
        <div id="headerTabs" class="filter-depth container">
            <uib-tabset active="activeReceipts">
                <uib-tab id="tab-receipts-lasts" heading="últimos lançamentos" select="changeTab(0)">
                    <h3>utilize os campos abaixo para filtrar sua busca:</h3>
                    <div class="filtersWrapper">
                        <div class="receipts_present_filters" id="filter-receipts-lasts">
                            <div class="filter">
                                <div class="v2">
                                    <rc-datepicker-v2 class="filter-date" date="actualReleases.date" max-date="todayDate" label="'data'"></rc-datepicker-v2>
                                </div>
                            </div>
                            <div class="filter">
                                <rc-multiselect class="filter-account" label="'conta'" model="accountsModel" data="accountsData" placeholder="'selecione a conta'" single-selection="2"></rc-multiselect>
                            </div>
                            <div class="filter">
                                <rc-multiselect class="filter-acquirer" label="'adquirente'" model="acquirersModel" data="acquirersData" placeholder="'todas as adquirentes'" button-max-items="3"></rc-multiselect>
                            </div>
                            <div class="filter v2">
								<rc-select
									label="número do estabelecimento"
									place-holder-label="estabelecimento"
									model="filter.shopsModel"
									data="shopsData"
									check-and-uncheck-all="{defaultType: 'checkAll'}"
									groupable="true"
									sync="false"
									groups-model="pvsGroupsModel"
									footer-config="filter.pvFooterConfig"
									tooltip-text="somente estabelecimentos que possuem ao menos uma transação processada aparecem na listagem" ></rc-select>
                            </div>
                            <div class="filter">
                                <rc-multiselect class="filter-card-product" label="'bandeira'" model="cardProductsModel" data="cardProductsData" placeholder="'todas as bandeiras'" button-max-items="2" ></rc-multiselect>
                            </div>
                            <div class="filter">
                                <input type="submit" value="buscar" class="btn btn-primary btn-block filter-search" ng-href='#here' ng-click="getReceipt()" />
                            </div>
                        </div>
                    </div>

                    <!-- LANCAMENTOS ATUAIS INIT -->
                    <article class="data-cards">
                        <div class="expectedReleases">
                            <table ng-if="existsForethought" id="receipts_table">
                                <tr class="group" ng-show="existsForethought">
                                    <th id="pagamentosNaoRecebidosTitleColumn">existem recebimentos não efetuados nesta data</th>
                                    <th>
                                        <a ng-click="showDetails(1, cardProduct, cardProduct.total, cardProduct.status, 'expected_details')">detalhes</a>
                                    </th>
                                </tr>
                            </table>
                        </div>
                        <div class="header-datas">
                            <div class="date">
                                <span class="number">{{actualReleases.day}}</span>
                                <br>{{actualReleases.month}} </div>
                            <div class="chip-wrapper">
                                <div class="chip" ng-show="accountsLabel">
                                    <span>
                                        {{ accountsLabel }}
                                    </span>
                                </div>
                                <div class="chip can-close" ng-show="shopsLabel" ng-class="shopsLabel.length < 1 ? 'hidden-chip' : '' ">
                                    <span>
                                        {{ shopsLabel }}
                                    </span>
                                    <div class="clear-filter itauicon-itaufonts_fechar" ng-click="clearShopFilter()"></div>
                                    <span class="rc-tooltip">
                                        {{ shopsFullLabel }}
                                    </span>
                                </div>
                                <div class="chip can-close" ng-show="cardProductsLabel" ng-class="cardProductsLabel.length < 1 ? 'hidden-chip' : '' ">
                                    <span>
                                        {{ cardProductsLabel }}
                                    </span>
                                    <div class="clear-filter itauicon-itaufonts_fechar" ng-click="clearCardProductsFilter()"></div>
                                    <span class="rc-tooltip">
                                        {{ cardProductsFullLabel }}
                                    </span>
                                </div>
                                <div class="chip can-close" ng-show="acquirersLabel" ng-class="acquirersLabel.length < 1 ? 'hidden-chip' : '' ">
                                    <span>
                                        {{ acquirersLabel }}
                                    </span>
                                    <div class="clear-filter itauicon-itaufonts_fechar" ng-click="clearAcquirersFilter()"></div>
                                    <span class="rc-tooltip">
                                        {{ acquirersFullLabel }}
                                    </span>
                                </div>
							</div>
                        </div>
                        <div class="numbers-data">
                            <ul>
                                <li id="toReceive">
                                    <strong>total a receber</strong>
                                    <span class="big-number"><span>R$</span> {{ totalToReceive | currency: "" }}</span>
                                </li>
                                <li class="math-symbol"><strong>{{ getDiscountedSignal(discountedTotal) }}</strong></li>
                                <li ng-class="discountedTotal > 0 ? 'addition' : 'discount'" id="total-adjusts">
                                    <strong class="v2">
                                        total ajustes a crédito/débito
										<rc-tooltip tooltip-text="Valor de ajustes a crédito/débito referem-se a valores creditados ou debitados provenientes de cancelamentos, chargebacks, tarifas, ajustes a crédito ou débito."></rc-tooltip>
                                    </strong>
                                    <span class="big-number"><span>R$</span> {{ getDiscountedAbs(discountedTotal) | currency: ""}}</span>
                                </li>
                                <li class="math-symbol"><strong>+</strong></li>
                                <li class="addition" id="total-antecipated">
                                    <strong>total antecipado</strong>
                                    <span class="big-number"><span>R$</span> {{ antecipatedTotal | currency: ""}}</span>
                                </li>
                                <li class="math-symbol"><strong>=</strong></li>
                                <li id="total-receipt">
                                    <strong>total recebido</strong>
                                    <span class="big-number"><span>R$</span> {{ totalReceived | customCurrency: ""}}</span>
                                </li>
                            </ul>
                        </div>
                        <table ng-repeat="item in actualReleasesData" id="receipts_table">
                            <thead>
                                <tr>
                                    <th class="except">
                                    <th>{{ item.acquirer.name | uppercase }}</th>
                                    <th></th>
                                    <th>valor total: R$ {{ item.payedAmount | currency: '' }}</th>
                                </tr>
                            </thead>
                            <tbody ng-if="item.cardProducts.length">
                                <tr class="group">
                                    <th></th>
                                    <th>lançamentos</th>
                                    <th class="taright">valor líquido (R$)</th>
                                    <th></th>
                                </tr>
                            </tbody>
                            <tbody ng-repeat="cardProduct in item.cardProducts">
                                <tr class="card-product-line">
                                    <th class="except"></th>
                                    <th>
                                        <div class="cardFlag brand_{{ cardProduct.cardProductId }}"></div> {{ cardProduct.cardProductName | capitalize }}
                                    </th>
                                    <th class="taright {{cardProduct.total >= 0 ? 'ajustes-credito': 'ajustes-debito'}}">{{ cardProduct.total | currency: '' }}</th>
                                    <th>
                                         <a ng-hide="cardProduct.forethought" ng-click="showDetails(item.acquirer, cardProduct, cardProduct.total, cardProduct.status)">detalhes</a>
                                        <a ng-show="cardProduct.forethought" ng-click="showDetails(item.acquirer, cardProduct, cardProduct.total, cardProduct.status, 'forethought_details')">detalhes</a>
                                    </th>
                                </tr>
                                <tr ng-repeat="release in cardProduct.releases" class="inset {{ getClassByType(release.type, release.payedAmount) | slugify }}">
                                    <th></th>
                                    <th class="inset-1">{{ release.type }}</th>
                                    <th class="taright">
                                        {{ release.payedAmount | currency: '' }} </th>
                                    <th></th>
                                </tr>
                            </tbody>
                            <tr class="card-product-line" ng-show="item.otherReleases.length">
                                <th></th>
                                <th>outros lançamentos</th>
                                <th class="taright">{{ item.otherReleasesTotal | currency: '' }}</th>
                                <th>
                                    <a ng-click="showDetails(item.acquirer, cardProduct, cardProduct.total, cardProduct.status, 'other_details')">detalhes</a>
                                </th>
                            </tr>
                             <tbody ng-show="item.otherReleases.length">
                                <tr ng-repeat="otherRelease in item.otherReleases" class="inset" ng-class="otherRelease.amount > 0 ? 'vendas' : 'cancelamentos'">
                                    <th></th>
                                    <th class="inset-1">{{ otherRelease.description | lowercase}}</th>
                                    <th class="taright">{{ otherRelease.amount | currency: '' }} </th>
                                    <th></th>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="!actualReleasesData.length" ng-include="'app/views/includes/empty-state.html'"></div>
                    </article>
                    <!-- LANCAMENTOS ATUAIS: END -->
                </uib-tab>
                <uib-tab id="tab-receipts-future" heading="lançamentos futuros" select="changeTab(1)">
            		<h3>utilize os campos abaixo para filtrar sua busca:</h3>
            		<div class="filtersWrapper">
                        <div class="receipts_future_filters" id="filter-receipts-future">
                            <div class="filter">
                                <div class="v2">
                                    <rc-datepicker-v2 class="filter-date" range="true" date="futureReleases.modelDate" max-date="futureReleases.objFutureMaxDate" min-date="futureReleases.objFutureMinDate" show-next-dates-filter="true"  label="'data'" is-open="futureReleases.datepickerIsOpen"></rc-datepicker-v2>
                                </div>
                            </div>
                            <div class="filter">
                                <rc-multiselect class="filter-account" label="'conta'" model="accountsFutureModel" data="accountsData" placeholder="'selecione a conta'" single-selection="2"> </rc-multiselect>
                            </div>
                            <div class="filter">
                                <rc-multiselect class="filter-acquirer" label="'adquirente'" model="acquirersFutureModel" data="acquirersData" placeholder="'todas as adquirentes'" button-max-items="3"> </rc-multiselect>
                            </div>
                            <div class="filter v2">
								<rc-select
									label="número do estabelecimento"
									place-holder-label="estabelecimento"
									model="filter.shopsFutureModel"
									data="shopsData"
									check-and-uncheck-all="{defaultType: 'checkAll'}"
									groupable="true"
									sync="false"
									groups-model="pvsGroupsModel"
									footer-config="filter.pvFooterConfig"
									tooltip-text="somente estabelecimentos que possuem ao menos uma transação processada aparecem na listagem" ></rc-select>
                            </div>
                            <div class="filter">
                                <rc-multiselect class="filter-card-product" label="'bandeira'" model="cardProductsFutureModel" data="cardProductsData" placeholder="'todas as bandeiras'" button-max-items="2"> </rc-multiselect>
                            </div>
                            <div class="filter">
                                <input type="submit" value="buscar" class="btn btn-primary btn-block filter-search" ng-href='#here' ng-click="getFutureReceipt()" ng-disabled="futureReleases.datepickerIsOpen" />
                            </div>
                        </div>
            		</div>

                    <!-- LANCAMENTOS FUTUROS INIT -->
                    <article class="data-cards">
                        <div class="header-datas">
                            <div class="date-wrapper">
                                <div class="date future" ng-bind-html="toTrusted(futureReleases.dateRangeWithBr)"></div>
                            </div>
                            <div class="chip-wrapper">
                                <div class="chip" ng-show="accountsFutureLabel">
                                    <label>
                                        {{ accountsFutureLabel }}
                                    </label>
                                </div>
                                <div class="chip can-close" ng-show="shopsFutureLabel" ng-class="shopsFutureLabel.length < 1 ? 'hidden-chip' : '' ">
                                    <label>
                                        {{ shopsFutureLabel }}
                                    </label>
                                    <div class="clear-filter itauicon-itaufonts_fechar" ng-click="clearShopFilter(true)"></div>
                                    <span class="rc-tooltip">
                                        {{ shopsFutureFullLabel }}
                                    </span>
                                </div>
                                <div class="chip can-close" ng-show="cardProductsFutureLabel" ng-class="cardProductsFutureLabel.length < 1 ? 'hidden-chip' : '' ">
                                    <label>
                                        {{ cardProductsFutureLabel }}
                                    </label>
                                    <div class="clear-filter itauicon-itaufonts_fechar" ng-click="clearCardProductsFilter(true)"></div>
                                    <span class="rc-tooltip">
                                        {{ cardProductsFutureFullLabel }}
                                    </span>
                                </div>
								<div class="chip can-close" ng-show="acquirersFutureLabel" ng-class="acquirersFutureLabel.length < 1 ? 'hidden-chip' : '' ">
                                    <span>
                                        {{ acquirersFutureLabel }}
                                    </span>
									<div class="clear-filter itauicon-itaufonts_fechar" ng-click="clearAcquirersFilter(true)"></div>
									<span class="rc-tooltip">
                                        {{ acquirersFutureFullLabel }}
                                    </span>
								</div>
                            </div>
                        </div>
                        <rc-timeline
                                label-initial-value="'Lançamentos no período selecionado'"
                                label-final-value="'Total de lançamentos previstos no próximo ano'"
                                monetary-values="true"
                                date-range="futureReleases.dateRange"
                                max-date-range="customTimelineExpectedAmount.maxDateRange"
                                initial-value="customTimelineExpectedAmount.expectedAmount"
                                final-value="timelineExpectedAmount.expectedAmount"
                                time-line-percentage="customTimelineExpectedAmount.percentage" ></rc-timeline>
                        <table ng-repeat="item in futureReleasesData" id="receipts_table">
                            <thead>
                                <tr>
                                    <th class="except">
                                    <th>{{ item.acquirer.name | uppercase }}</th>
                                    <th></th>
                                    <!-- /* Todo: alterar por adquirente */ -->
                                    <th colspan="3">valor total: R$ {{ item.expectedAmount | currency: '' }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="group">
                                    <th></th>
                                    <th>lançamentos</th>
                                    <th></th>
                                    <th class="taright">valor líquido (R$)</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tbody>
                            <tbody ng-repeat="cardProduct in item.cardProducts">
                                <tr>
                                    <th class="except"></th>
                                    <th>
                                    <div class="cardFlag brand_{{ cardProduct.cardProductId }}"></div> {{ cardProduct.cardProductName | capitalize }} </th>
                                    <th></th>
                                    <th class="taright">{{ cardProduct.releases[0].expectedAmount | currency: '' }}</th>
                                    <th></th>
                                    <th><a ng-click="showDetails(item.acquirer, cardProduct, cardProduct.total, cardProduct.status, 'future_details')">detalhes</a></th>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="!futureReleasesData.length" ng-include="'app/views/includes/empty-state.html'"></div>
                    </article>

                    <!-- LANCAMENTOS FUTUROS: END -->
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</section>
