<div>
    <div class="container filter" id="filter-sales-to-conciliate">
        <div class="col-xs-12">
            <h2>utilize os campos abaixo para filtrar sua busca</h2>
        </div>
        <div class="col-xs-4">
            <rc-datepicker-v2
                    date="dateModel.date"
                    range="false"
                    max-date="dateModel.maxDate"
                    label="'data'"
                    status-type="'sales-to-conciliate'"
                    class="filter-date" >
            </rc-datepicker-v2>
        </div>
        <div class="col-xs-4">
            <rc-multiselect class="filter-acquirer" label="'adquirente'" model="filter.acquirersModel" data="filter.acquirersData" placeholder="'todas as adquirentes'" single-selection="2"> </rc-multiselect>
        </div>
		<div class="col-xs-4">
			<rc-select
				label="número do estabelecimento"
				place-holder-label="estabelecimento"
				model="filter.pvsModel"
				data="filter.pvsData"
				check-and-uncheck-all="{defaultType: 'checkAll'}"
				groupable="true"
				sync="true"
				groups-model="filter.pvsGroupsModel"
				footer-config="filter.pvFooterConfig"
				tooltip-text="somente estabelecimentos que possuem ao menos uma transação processada aparecem na listagem"></rc-select>
		</div>
        <!--<div class="col-xs-4">-->
            <!--<rc-multiselect class="filter-pv" label="'número do estabelecimento'" tooltip-text="'somente estabelecimentos que possuem ao menos uma transação processada aparecem na listagem'" model="filter.pvsModel" data="filter.pvsData" group-by="acquirerId" placeholder="'todos os estabelecimentos'" single-selection="2" search-filter="vm.acquirersFilterExpression"> </rc-multiselect>-->
        <!--</div>-->
        <div class="col-xs-4">
            <rc-multiselect class="filter-terminal" label="'terminal'" model="filter.terminalsModel" data="filter.terminalsData" placeholder="'todos os terminais'" single-selection="2"> </rc-multiselect>
        </div>
        <div class="col-xs-4">
            <rc-multiselect class="filter-card-product" label="'bandeira'" model="filter.cardProductsModel" data="filter.cardProductsData" placeholder="'todas as bandeiras'" single-selection="2" search-filter="vm.acquirersCardProductFilterExpression"> </rc-multiselect>
        </div>
        <div class="col-xs-4">
            <input type="submit" value="buscar" class="btn btn-primary btn-block filter-search" ng-href='#here' ng-click="search()" />
        </div>
    </div>

    <div class="container box" id="salesToConciliateAnchor">
        <div class="content-header">
            <div class="row">
                <div class="col-xs-2 date">
                    <p class="day">{{vm.dateModel.day}}</p>
                    <p class="month">{{vm.dateModel.monthName}}</p>
                </div>
                <div class="col-xs-10">
                    <rc-chips>
                        <rc-chip label="vm.terminalLabel" show="vm.chipsConfig.show.terminals" closeable="vm.chipsConfig.closeable" on-clear="vm.resetFilter('terminals')" tooltip-text="vm.terminalFullLabel"></rc-chip>
                        <rc-chip label="vm.cardProductLabel" show="vm.chipsConfig.show.cardProducts" closeable="vm.chipsConfig.closeable" on-clear="vm.resetFilter('cardProducts')" tooltip-text="vm.cardProductFullLabel"></rc-chip>
                        <rc-chip label="vm.pvLabel" show="vm.chipsConfig.show.pvs" closeable="vm.chipsConfig.closeable" on-clear="vm.resetFilter('pvs')" tooltip-text="vm.pvFullLabel"></rc-chip>
                        <rc-chip label="vm.acquirerLabel" show="vm.chipsConfig.show.acquirers" closeable="vm.chipsConfig.closeable" on-clear="vm.resetFilter('acquirers')" tooltip-text="vm.acquirerFullLabel"></rc-chip>
                        <div class="clearfix"></div>
                    </rc-chips>
                </div>
            </div>
        </div>
        <div class="container">
            <rc-timeline
                    label-initial-value="'quantidade de vendas a conciliar'"
                    label-final-value="'quantidade de vendas conciliadas'"
                    initial-value="vm.timelineModel.toReconcile"
                    final-value="vm.timelineModel.concilied"
                    total-value="vm.timelineModel.total"
                    label-total-value="'Total de vendas'"
                    monetary-values="false" ></rc-timeline>
        </div>
        <div ng-show="!vm.resultModel.length" ng-include="'app/views/includes/empty-state.html'"></div>
    </div>

    <div ng-include="'app/views/includes/tables/sales-table.html'"></div>
</div>
